*{
  background-color: #ffffff;
}
.App-Container{
  height: 95vh;
  width: 70vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between; 
  box-sizing: border-box; 
}
.App-mobilelogo{
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App-LoginSource{
  width: 40%;
  height: 69%;
  background-color: #ffffff;
  margin-right: 100px;
  margin-bottom: 21vh;
  border: 1px solid lightgray;

}
.img{
  width: 75%;
  height: 95%;
  margin-left: 20px;
  

}
.App-Tittle{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
  
}

.App-LoginInput{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
.App-LoginInputField{
  width: 80%;
  height: 40px;
  margin-top: 10px;
  padding: 0px;
  border: none;
  background-color: #fafafa;
  color: #000;
  margin-bottom: 5px;
  padding-inline-start: 10px;
  border-radius: 2px;
  border: 1px solid lightgray;

}
.Login-Button{
  width: 81%;
  height: 30px;
  margin-top: 10px;
  padding: 0px;
  border: none;
  background-color: #f0f0f0;
  color: #000;
  margin-bottom: 5px;
  padding-inline-start: 10px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #4cb5f9;
  color: #fff;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;

}
.App-Liner{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: lightgray;

}
#OR{
  color: #000;
  margin: 0px 10px;
}

.App-Icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: 700;
  margin-right: 30px;
  cursor: pointer;
  color: #44495e;
}

.wtsapp{
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  width: 40px;
}
.FB{
  height: 25px;
  width: 40px;
}
.App-Forgot{
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #44495e;
}
.App-Signup{
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #44495e;
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  
}
.App-GetTheApp{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: small;
}
.App-Store{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
    
}
.App-Store img{
  width: 8rem;
  height: 2.5rem;
  margin-right: 10px;
  }
  #signup{
    color: #1d8cda;
  }